<!DOCTYPE html>
<html>
  <head>
    <title>Perla</title>
    <!-- Enlazar al archivo CSS de Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://d3js.org/d3.v7.min.js"></script>
  </head>
  <body>
    <!-- Contenido de tu página aquí -->

    <!-- Enlazar al archivo JS de Bootstrap (jQuery primero, luego Popper.js, luego Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Perla</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Metodos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Informacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
                >Ayuda</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 class="text-center">Perla</h1>
    <h4 class="text-center">
      Perla es un pagina donde encontraras algunos metodos usados para resolver
      problemas de analisis numerico
    </h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center" href="#">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
          >Aprende mas de este sitio</a
        >
      </li>
      <li class="list-group-item text-center" href="#">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
          >Explora los Metodos</a
        >
      </li>
    </ul>
    <div id="root"></div>
  </body>
</html>
